/* resets */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-size: 7rem;
  font-weight: 300;
  font-weight: lighter;
}

h2 {
  font-size: 6rem;
  font-weight: light 300;
  font-weight: lighter;
}

h3 {
  font-size: 4rem;
  font-weight: light 300;
  font-weight: lighter;
}

p {
  font-size: 1.5rem;
}

/* header */
.header {
  background-color: #fff0ed;
  text-align: left;
  padding: 1.5rem;
}

.header__icon {
  margin-left: 0;
  display: inline;
  min-width: 2%;
  max-width: 5%;
  position: relative;
  top: 1rem;
}

.header__icon-text {
  display: inline;
  position: relative;
  right: 4rem;
  font-size: 4rem;
  font-weight: lighter;
}

.header__image {
  max-width: 5rem;
  min-width: 3rem;
}

.header__nav {
  display: inline;
  position: relative;
  right: 6rem;
}

.header__nav--list {
  display: inline;
}

.header__nav--link {
  list-style-type: none;
  font-size: 2.5rem;
  font-weight: 400;
  font-weight: normal;
  text-align: left;
  display: inline;
  padding: 2rem;
}

.header__nav--link {
  text-decoration: solid;
}

.header__nav--link-one,
.header__nav--link-two {
  color: black;
}

.header__nav--link-three {
  color: #5bacc3;
  text-decoration-color: #5bacc3;
  padding: 1.5rem 5rem;
}

/* main */

/* about section */

.about {
  background-color: #fff0ed;
  margin: 0;
  display: flex;
}

.about__text {
  display: inline;
  margin: auto 20% auto 10%;
  flex: 50%;
}

.about__title {
  margin: 0;
  display: flex;
  padding-bottom: 0.5rem;
  font-size: 7rem;
  font-weight: lighter;
}

.about__paragraph {
  display: flex;
  width: 38rem;
  padding-bottom: 0.5rem;
  font-size: 1.8rem;
}

.about__button {
  border: none;
  font-weight: 400;
  font-weight: normal;
  max-width: 30rem;
  min-width: 18rem;
  max-height: 7rem;
  min-height: 5rem;
  margin-left: 0;
}

.about__image {
  background-image: url("../assets/coffeebeans-hero.png");
  background-repeat: no-repeat;
  min-height: 60rem;
  flex: 50%;
}

/* product section */

.product {
  background-color: #f7f7f7;
  padding-bottom: 3rem;
}

.product__title {
  text-align: center;
  margin: 0;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 6rem;
  font-weight: lighter;
}

.product__list {
  display: flex;
  margin: auto 18rem;
}

.product__description {
  width: 22%;
  margin: auto;
  background-color: #fff;
  border: 1px none;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px #b5b0b0;
}

.product__description--image {
  margin: auto;
  display: flex;
  margin-top: 5rem;
}

.product__description--heading {
  text-align: center;
  font-size: 4rem;
  font-weight: light 300;
  font-weight: lighter;
}

.product__description--price {
  color: #5bacc3;
  margin: auto;
  text-align: center;
  margin-bottom: 5rem;
  font-size: 3.5rem;
  font-weight: normal;
  font-weight: 400;
}

.product__button-div {
  text-align: center;
  margin: 6rem auto 6rem;
}

.product__button,
.about__button {
  text-decoration: solid;
  color: #fff;
  background-color: #5bacc3;
  font-size: 2.5rem;
  font-weight: 400;
  font-weight: normal;
  text-align: center;
  display: block;
  width: 10%;
  height: 6rem;
  line-height: 6rem;
}

.product__button {
  margin: auto;
}

.discount {
  min-height: 15rem;
  line-height: 15rem;
  max-height: 17rem;
  margin: 20rem auto;
  font-size: 6rem;
  font-weight: 400;
  background-color: #393939;
  color: white;
  text-align: center;
  width: 80%;
}

.discount__paragraph {
  font-size: 6rem;
}

.discount__paragraph-bold {
  font-weight: bold;
  font-weight: 700;
  font-size: 6rem;
}

/* Footer */
.footer {
  background-color: #fff0ed;
  display: flex;
}

.footer__div {
  padding: 5rem;
  margin: auto 5rem;
}

.footer__div--title {
  font-size: 4rem;
  padding-bottom: 2rem;
  font-weight: light 300;
  font-weight: lighter;
  margin: 0;
}

.footer__div--paragraph {
  font-size: 1.5rem;
  margin: 0;
}

.footer__div--address {
  margin-left: 20rem;
}

.footer__social--icons {
  margin: 0;
}

.footer__social--icon-image {
  min-width: 4rem;
  max-width: 6rem;
  margin-left: 0;
  padding: 0.3rem;
}

.footer__div-days {
  font-weight: bold;
}
