
/* main */

/* about section */
.about {
  background-color: #fff0ed;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.about__text {
  display: inline;
  margin: auto 20% auto 10%;
  flex: 50%;
}

.about__title {
  margin: 0;
  display: flex;
  padding-bottom: 0.5rem;
  font-size: 7rem;
  font-weight: lighter;
}

.about__paragraph {
  display: flex;
  width: 38rem;
  padding-bottom: 0.5rem;
  font-size: 1.8rem;
}

.about__button--border,
.product__button--border,
.different__button--border {
  border-style: solid;
  border-width: 2px;
  border-color: #393939;
  min-width: 180px;
  max-height: 70px;
  min-height: 50px;
  max-width: 130px;
  height: 60px;
  line-height: 60px;
  overflow: visible;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.about__button,
.product__button,
.different__button {
  font-weight: 400;
  min-width: 180px;
  max-height: 70px;
  min-height: 50px;
  margin: 0;
  text-decoration: solid;
  color: #fff;
  background-color: #5bacc3;
  font-size: 2.5rem;
  text-align: center;
  display: block;
  max-width: 130px;
  height: 60px;
  line-height: 60px;
  position: relative;
}

.about__image {
  background-image: url("../assets/coffeebeans-hero.png");
  background-repeat: no-repeat;
  min-height: 60rem;
  flex: 50%;
  margin-top: 3rem;
}

/* product section */
.product {
  background-color: #f7f7f7;
  padding-bottom: 3rem;
  margin: 0;
  
  
}

.product__title {
  text-align: center;
  margin: 0;
  padding: 4rem;
  font-size: 5rem;
  font-weight: lighter;

}

.product__list {
  display: flex;
  flex-direction: row;
  margin: auto 7rem;
}

.product__description {
  margin: 3rem auto;
  background-color: #fff;
  border-radius: 10px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  min-width: 33rem;
  max-width: 35rem;
  min-height: 44rem;
  max-height: 46rem;
  display: flex;
  flex-direction: column;
 

}

.product__summary {
background-color: #fff0ed;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 4rem 2rem;

}

.product__image-div {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  height: 50%;

}

.product__image {
 margin: 0;
 min-height: 24rem;
 max-height: 55rem;
}

.product__summaryParagraph {
  margin: 0;
  font-weight: light 300;
  font-weight: lighter;
  color: #909090;
}

.product__description--heading {
  text-align: center;
  font-size: 3rem;
  font-weight: light 300;
  font-weight: lighter;
  margin: 0;
}

.product__description--price {
  color: #5bacc3;
  margin: 0;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}


.product--button-div {
  margin: 3rem;
}

.product__button {
  margin: auto;
}

/* marketing */
.different {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 12rem;
}

.different__content {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: left;
}

.different__header {
  font-size: 5rem;
  font-weight: 300;
  margin-top: 0;
}

.different__paragraph {
  width: 55%;
}

.different__icon {
  min-width: 30px;
  max-width: 50px;
  margin: 2rem 13rem 3rem 0;
}

.different__image {
  background-image: url(../assets/coldbrewbackground.png);
  min-width: 400px;
  max-width: 500px;
  min-height: 400px;
  max-height: 500px;
  position: relative;
}

.different__image--titledcan {
  position: absolute;
  top: 6rem; 
  left: 12rem;
}

/* discount */
.discount {
  min-width: 6rem;
  max-width: 90%;
  padding: 2rem;
  margin: 14rem auto;
  font-size: 6rem;
  font-weight: 400;
  background-color: #393939;
  color: white;
  text-align: center;
  width: 80%;
}

.discount__paragraph {
  font-size: 4rem;
}

.discount__paragraph-bold {
  font-weight: bold;
  font-weight: 700;
  font-size: 6rem;
}

/* Footer */
.footer {
  background-color: #fff0ed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.footer__div {
  padding: 2rem;
  margin: 4rem auto;
}

.footer__title {
  font-size: 4rem;
  padding-bottom: 2rem;
  font-weight: light 300;
  font-weight: lighter;
  margin: 0;
}

.footer__paragraph {
  font-size: 1.5rem;
  margin: 0;
}

.footer__image {
  min-width: 120px;
  max-width: 140px;
  opacity: 25%;
}

.footer__image--left {
  position: absolute;
  top: 20px;
  left: -40px;
}

.footer__image--right {
position: absolute;
right: -40px;
top: 80px;
}

.footer__icon {
  margin: 0;
}

.footer__icon-image {
  min-width: 50px;
  max-width: 12opx;
  margin-left: 0;
  padding: 0.3rem;
}

.footer__days {
  font-weight: bold;
}
