.menu-backgroundimage {
  background-image: url("../assets/coffee-circle.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-width: 100%;
  max-width: 100%;
  min-height: 57.5rem;
  max-height: 60rem;
}

/* Main */
/* menu title */
.menu {
}

.menu__heading {
  background-color: #393939;
  color: white;
  min-width: 28rem;
  max-width: 30rem;
  max-height: 20rem;
  min-height: 18rem;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  right: 40%;
  line-height: 18rem;
}

.menu__heading-border {
  border-style: solid;
  border-width: 5px;
  border-color: #5bacc3;
  min-width: 28rem;
  max-width: 30rem;
  max-height: 20rem;
  min-height: 18rem;
  overflow: visible;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.nav-menu {
  min-width: 100%;
  max-width: 100%;
  min-height: 6rem;
  max-height: 8rem;
  background-color: #393939;
  display: flex;
  align-items: center;
  font-size: 2.1rem;
  font-weight: 400;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.nav-menu__link {
  color: white;
  text-decoration: none;
  padding: 3rem;
}

.nav-menu__link a {
  color: white;
  text-decoration: none;
  border-left: solid #5bacc3 4px;
  padding-left: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}

/* menu content */

.menu-content--hot-drinks,
.menu-content--pastries {
  background-color: #fff0ed;
}

.menu-content__details {
  margin: auto;
  text-align: center;
  width: 35%;
  padding-top: 2rem;
}

.menu-content__details h3 {
  margin: 0;
}

.menu-content__details h2 {
  margin: 0 auto 4rem auto;
}

.menu-content__paragraph {
  font-style: italic;
  margin-bottom: 0;
}

.menu-content--cold_drinks {
  background-color: #f7f7f7;
}

.menu-content__prices {
  color: #5bacc3;
  margin: 0;
  padding-bottom: 2rem;
}
